 .SModalDatePicker .Content { 
    padding: 32px 40px 40px 40px;
}

 .SModalDatePicker .Container.noselect {
    width: 100%;
} 

.SModalDatePicker .FromToInputs {
    padding-right: 56px;
}

.SModalDatePicker .calendar-wrapper {
    overflow: hidden;
}

.SModalDatePicker .CalendarContainer {
    margin-right: 42px;
}


.SModalDatePicker .calendar__all {
    /* overflow-x: scroll; */
    display: flex;
    min-height: 335px;
}

.SModalDatePicker .done.Disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
}

.SModalDatePicker .Calendar div:hover em {
	color: #333;
	border:1px solid #039be5;
	padding-top:7px !important;
	-webkit-transition: all .15s ease-out;
    -moz-transition: all .15s ease-out;
    -ms-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
}

